body {
    background: #111;
    color: white;
    font-family: Arial;
}
.container {
    width: 80%;
    margin: auto;
}
#chat {
    height: 500px;
    overflow: auto;
    border: 1px solid #333;
    padding: 20px;
}